{% extends "core_layout.html" %}
{% block content %}
<div class="cont text-center results">
    {% if Items is not none %}
    {% include 'itemDisplay.html' %}
    {% else %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3 extra-pad-top">
            <div class="give-preview-text-outer">
                <div class="give-preview-text w-100">
                    <div class="give-preview-text-inner text-start">
                        <h1 class="mc-dark-aqua">Instructions!</h1>
                        <ul>
                            <li class="mc-gold">Use the navbar at the top of the page to look for your desired items!
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3 extra-pad-top">
            <div class="give-preview-text-outer">
                <div class="give-preview-text w-100">
                    <div class="give-preview-text-inner text-start">
                        <h1 class="mc-dark-aqua">Contact!</h1>
                        <ul>
                            <li class="mc-gold">Reach me on discord by messaging AlexTheNerd
                            </li>
                            <li class="mc-gold">You can also join my Discord Server <a target="_blank"
                                    rel="noopener noreferrer" href="https://discord.gg/HAaUm7AnS5">Here</a>!</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        {% for Date, Logs in ChangeLog.items() %}
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3 extra-pad-top">
            <div class="give-preview-text-outer">
                <div class="give-preview-text w-100">
                    <div class="give-preview-text-inner text-start">
                        <h1 class="mc-dark-aqua">{{ Date }}</h1>
                        <ul>
                            {% for Color, Log in Logs %}
                            <li class="{{ Color }}">{{ Log | safe }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
    </div>
    {% endif %}
</div>
{% endblock %}