{% extends "core_layout.html" %}
{% block content %}
<div class="row gx-3 gy-3 mb-3">
    <div class="col-12">
        <div class="row text-center">
            <div class="">
                <textarea class="form-control" id="importCode" value="" rows="5"></textarea>
            </div>
            <div class="col-xs-3 col-sm-6 col-md-3 mt-3">
                <button class="btn btn-danger" onclick="checkAll()">
                    Check All
                </button>
            </div>
            <div class="col-xs-3 col-sm-6 col-md-3 mt-3">
                <button class="btn btn-danger" onclick="uncheckAll()">
                    Uncheck All
                </button>
            </div>
            <div class="col-xs-3 col-sm-6 col-md-3 mt-3">
                <button class="btn btn-danger" onclick="importCode()">
                    Import from text
                </button>
            </div>
            <div class="col-xs-3 col-sm-6 col-md-3 mt-3">
                <button class="btn btn-danger" onclick="copyToClipBoard()">
                    Copy To Clipboard
                </button>
            </div>
        </div>
    </div>

</div>
<div class="row gx-3 gy-3 mb-3" data-masonry='{"percentPosition": true }'>
    {% set ns = namespace(count=0) %}
    {% for crate, items in sortedItems.items() %}

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
        <div class="give-preview-text-outer">
            <div class="give-preview-text w-100">
                <div class="give-preview-text-inner text-start">
                    <span class="mc-white">{{ crate }}</span>
                    <div><br></div>

                    {% for item in items %}
                    <div>
                        <input type="checkbox" name="item" onclick="exportCode()">
                        <span class="d-none" id="crateName-{{ns.count}}">{{crate}}</span>
                        <label><span class="mc-gold" id="text-{{ns.count}}">{{ item.ItemNameHTML | safe
                                }}</span></label>
                    </div>
                    {% set ns.count = ns.count + 1 %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="row gx-3 gy-3">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
        <div class="give-preview-text-outer">
            <div class="give-preview-text w-100">
                <div class="give-preview-text-inner text-start">
                    <div class="mc-bold mc-gold">Missing Items: </div>
                    <br>
                    <div id="resList"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }
    function loadFromCookie() {
        let oldResults = getCookie("{{ page }}");
        if (oldResults == "") { } else {
            document.getElementById("importCode").value = oldResults;
            importCode();
        }
    }
    window.onload = function () {
        loadFromCookie();
        updateMissingItemList();
    }

    function updateMissingItemList() {
        let checkboxes = document.getElementsByName('item');
        let missingItems = document.getElementById("resList")
        missingItems.replaceChildren()
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) { } else {

                let crateName = document.getElementById(`crateName-${i}`).textContent
                let crateResDiv = document.getElementById(crateName)
                if (crateResDiv) { } else {
                    let crateResDiv = document.createElement("div")
                    crateResDiv.id = crateName
                    crateResDiv.innerHTML = `<br><div class='mc-gold'>- ${crateName}</div>`
                    missingItems.appendChild(crateResDiv)
                }
                let temp = document.getElementById(`text-${i}`).cloneNode(true);
                let emptyDiv = document.createElement("div")
                temp.prepend("  - ")
                temp.style.whiteSpace = "pre-wrap"
                emptyDiv.appendChild(temp)
                missingItems.appendChild(emptyDiv);
            }
        }
    }


    function exportCode() {
        let checkboxes = document.getElementsByName('item');
        let result = "";
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                result += 1;
            } else {
                result += 0;
            }
        }
        updateMissingItemList();
        document.cookie = `{{ page }}=${result};expires=Wed, 18 Dec 2026 12:00:00 GMT;`;
        document.getElementById("importCode").value = result;
    }
    function importCode() {
        let currentValues = document.getElementById("importCode").value;
        let checkboxes =
            document.getElementsByName('item');
        for (var i = 0; i < checkboxes.length; i++) {
            // If used to be checked
            if (currentValues[i] == 1) {
                checkboxes[i].checked = true;
            } else {
                checkboxes[i].checked = false;
            }
        }
    }
    function checkAll() {
        let checkboxes = document.getElementsByName('item');
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = true;
        }
        exportCode()
    }

    function uncheckAll() {
        let checkboxes = document.getElementsByName('item');
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = false;
        }
        exportCode()
    }

    function copyToClipBoard() {
        var copyText = document.getElementById("importCode");
        copyText.select();
        copyText.setSelectionRange(0, 99999);
        navigator.clipboard.writeText(copyText.value);
        alert("Copied import code to clipboard.")
    }
</script>

{% endblock %}