<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mystic Items - {{ request.path }}</title>
    <link rel="icon" type="image/x-ison" href="{{url_for('static', filename='favicons/favicons.png')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="{{url_for('static', filename='css/index.css')}}" type="text/css" rel="stylesheet">
    <meta content="Mystic Items - {{ request.path }}" property="og:title" />
    <meta content="An easily searchable database of all Mystic Items!" property="og:description" />
    <meta content="https://www.mystic.atn.gg" property="og:url" />
    <meta content="	https://www.mystic.atn.gg/static/images/mysticmc.webp" property="og:image" />
    <meta content="#43B581" data-react-helmet="true" name="theme-color" />
</head>

<body style="background-color: white;">
    <div class="cont">
        <div class="row gx-3 gy-3 mt-2">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
                <div class="give-preview-text-outer marker" id="{{ item.id }}">
                    <div class="give-preview-text w-100">
                        <div class="give-preview-text-inner text-start">
                            {{ item.ItemHTML | safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>