{% extends "core_layout.html" %}
{% block content %}
<script src="{{url_for('static', filename='javascript/html2canvas.js')}}"></script>
    <div class="row gx-3 gy-3">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
            <div class="give-preview-text-outer">
                <div class="give-preview-text w-100">
                    <div class="give-preview-text-inner">
                        <form>
                            <div class="">
                                <textarea class="form-control" id="rawData" rows="20"></textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
            <div class="give-preview-text-outer" id="screenshotMarker">
                <div class="give-preview-text w-100">
                    <div class="give-preview-text-inner text-start" id="itemPreview">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
            <div class="give-preview-text-outer">
                <div class="give-preview-text w-100">
                    <div class="give-preview-text-inner">
                        <form method="post" action="">
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="CrateSelectEdit">Crate</label>
                                <select name='Crate' class="form-select" id="CrateSelectEdit">
                                    {% if currentCrates is none %}
                                    <option value="">Create a new Crate First!</option>
                                    {% else %}
                                    {% for id, details in currentCrates.items() %}
                                    <option value="{{ id }}">{{ details["CrateName"] }}</option>
                                    {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="PrimaryTagGroup">Primary Tag</label>
                                <select name='PrimaryTag' class="form-select" id="PrimaryTagGroup">
                                    <option value="">None</option>
                                    {% for tag in validTags %}
                                    <option value="{{ tag }}">{{ tag }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="SecondaryTagGroup">Secondary Tag</label>
                                <select name='SecondaryTag' class="form-select" id="SecondaryTagGroup">
                                    <option value="">None</option>
                                    {% for tag in validTags %}
                                    <option value="{{ tag }}">{{ tag }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="TertiaryTagGroup">Tertiary Tag</label>
                                <select name='TertiaryTag' class="form-select" id="TertiaryTagGroup">
                                    <option value="">None</option>
                                    {% for tag in validTags %}
                                    <option value="{{ tag }}">{{ tag }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name='WinPercentage' id="WinPercentageGroup"
                                    placeholder="Win Percentage">
                                <label for="WinPercentageGroup">Win Percentage</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name='Rarity' id="RarityGroup"
                                    placeholder="Rarity">
                                <label for="RarityGroup">Rarity</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name='RarityHTML' id="RarityHTMLGroup"
                                    placeholder="Rarity HTML">
                                <label for="RarityHTMLGroup">Rarity HTML</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name='ItemName' id="ItemNameGroup"
                                    placeholder="Item Name">
                                <label for="ItemNameGroup">Item Name</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name='ItemNameHTML' id="ItemNameHTMLGroup"
                                    placeholder="Item Name HTML">
                                <label for="ItemNameHTMLGroup">Item Name HTML</label>
                            </div>
                            <div class="form-floating mb-3">
                                <textarea class="form-control" name='Notes' placeholder="Item Notes" id="NotesGroup"
                                    style="height: 100px"></textarea>
                                <label for="NotesGroup">Notes</label>
                            </div>
                            <input type='text' name="RawData" id="RawData" hidden>
                            <input type='text' name="HumanData" id="HumanData" hidden>
                            <input type='text' name="HTMLData" id="HTMLData" hidden>

                            <button class="btn btn-primary mb-1" type="submit">Add to DB!</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>




    </div>

</div>
<script>
    var rawDataTextarea = document.getElementById("rawData");
    if (rawDataTextarea.addEventListener) {
        rawDataTextarea.addEventListener('input', function () {
            UpdatePreview();
        }, false);
    }
    const validTags = {{ validTags | tojson }};

    /* Converts the silly minecraft types to my own more easily usable ones. */
    const EnchantmentsList = {
        "aqua_affinity": "Aqua Affinity",
        "bane_of_arthropods": "Bane of Arthropods",
        "binding_curse": "Curse of Binding",
        "blast_protection": "Blast Protection",
        "breach": "Breach",
        "channeling": "Channeling",
        "density": "Density",
        "depth_strider": "Depth Strider",
        "efficiency": "Efficiency",
        "feather_falling": "Feather Falling",
        "fire_aspect": "Fire Aspect",
        "fire_protection": "Fire Protection",
        "flame": "Flame",
        "fortune": "Fortune",
        "frost_walker": "Frost Walker",
        "impaling": "Impaling",
        "infinity": "Infinity",
        "knockback": "Knockback",
        "looting": "Looting",
        "loyalty": "Loyalty",
        "luck_of_the_sea": "Luck of the Sea",
        "lure": "Lure",
        "mending": "Mending",
        "multishot": "Multishot",
        "piercing": "Piercing",
        "power": "Power",
        "projectile_protection": "Projectile Protection",
        "protection": "Protection",
        "punch": "Punch",
        "quick_charge": "Quick Charge",
        "respiration": "Respiration",
        "riptide": "Riptide",
        "sharpness": "Sharpness",
        "silk_touch": "Silk Touch",
        "smite": "Smite",
        "soul_speed": "Soul Speed",
        "sweeping_edge": "Sweeping Edge",
        "swift_sneak": "Swift Sneak",
        "thorns": "Thorns",
        "unbreaking": "Unbreaking",
        "vanishing_curse": "Curse of Vanishing",
        "wind_burst": "Wind Burst",
        "thrifty": "Thrifty",
        "tunnel": "Tunnel",
        "smelter": "Smelter",
        "flame_walker": "Flame Walker"
    };

    const EnchantmentsLevelOneMaxList = [
        "mending", "vanishing_curse", "aqua_affinity", "binding_curse", "channeling",
        "flame", "infinity", "multishot", "silk_touch", "smelter", "flame_walker"
    ];

    const ColorCodes = {
        "black": "mc-black",
        "dark_blue": "mc-dark-blue",
        "dark_green": "mc-dark-green",
        "dark_aqua": "mc-dark-aqua",
        "dark_red": "mc-dark-red",
        "dark_purple": "mc-dark-purple",
        "gold": "mc-gold",
        "gray": "mc-gray",
        "dark_gray": "mc-dark-gray",
        "blue": "mc-blue",
        "green": "mc-green",
        "aqua": "mc-aqua",
        "red": "mc-red",
        "light_purple": "mc-light-purple",
        "yellow": "mc-yellow",
        "white": "mc-white"
    };

    function convertMCLineToHumanReadable(line) {
        const parsedLine = JSON.parse(line);

        if (typeof parsedLine !== "object" || parsedLine === null || !("extra" in parsedLine)) {
            return "";
        }

        return parsedLine.extra.map(group => group.text).join("");
    }

    function convertMCLineToHTML(line) {
        const parsedLine = JSON.parse(line);
        if (typeof parsedLine !== "object" || parsedLine === null || !("extra" in parsedLine)) {
            return "<br>";
        }

        return parsedLine.extra.map(textGroup => {
            let classes = [];
            let style = "";

            if (textGroup.italic) classes.push("mc-italic");
            if (textGroup.bold) classes.push("mc-bold");
            if (textGroup.underlined) classes.push('mc-underlined')

            const color = textGroup.color;
            if (color) {
                if (ColorCodes[color]) {
                    classes.push(ColorCodes[color]);
                } else {
                    style = ` style=\"color: ${color}\"`;
                }
            }
            if (!textGroup.text) {
                return `<br>`
            } else {
                return `<span class=\"${classes.join(" ")}\"${style}>${textGroup.text}</span>`;
            }
        }).join("");
    }

    function convertEnchantmentsToHTML(enchantments, bypass = false) {
        return Object.entries(enchantments).reduce((acc, [enchant, level]) => {
            let name = enchant.replace("minecraft:", "");
            if (!bypass && name === "feather_falling" && level === 6) return acc;

            let label = EnchantmentsList[name] || name;
            let display = EnchantmentsLevelOneMaxList.includes(name) ? label : `${label} ${level}`;

            if (!EnchantmentsList[name]) console.warn(`Unknown enchantment encountered: ${name} ${level}`);

            acc.push(`<span class=\"mc-green\">${display}</span>`);
            return acc;
        }, []);
    }

    function convertEnchantmentsToHumanReadable(enchantments, bypass = false) {
        return Object.entries(enchantments).reduce((acc, [enchant, level]) => {
            let name = enchant.replace("minecraft:", "");
            if (!bypass && name === "feather_falling" && level === 6) return acc;

            let label = EnchantmentsList[name] || name;
            let display = EnchantmentsLevelOneMaxList.includes(name) ? label : `${label} ${level}`;

            if (!EnchantmentsList[name]) console.warn(`Unknown enchantment encountered: ${name} ${level}`);

            acc.push(display);
            return acc;
        }, []);
    }

    function convertItemTypes(itemType) {
        const itemTypesToCheck = [
            "helmet", "chestplate", "leggings", "boots", "elytra", "pickaxe",
            "axe", "hoe", "shovel", "rod", "sword", "crossbow", "bow", "trident", "mace"
        ];

        const cleanType = itemType.replace("minecraft:", "");

        for (const type of validTags) {
            if (type === "rod" && cleanType === "fishing_rod") return "rod";
            if (type === "rod" && cleanType !== "fishing_rod") continue;
            if (cleanType.includes(type.toLowerCase())) return type;
        }

        return null;
    }

    function extractWinChanceFromLore(ItemLoreHuman) {
        for (const line of ItemLoreHuman) {
            if (line.includes("Win Chance: ")) {
                return line.replace("Win Chance: ", "").replace("%", "");
            }
        }
        return null;
    }
    function extractRarityFromLore(ItemLoreHuman) {
        for (const line of ItemLoreHuman) {
            if (line.includes("Rarity: ")) {
                return line.replace("Rarity: ", "");
            }
        }
        return null;
    }

    function detectInfiniteBlock(ItemLoreHTML, ItemNameHuman) {
        let InfiniteBlock = 0;
        for (const line of ItemLoreHTML) {
            if (line.toLowerCase().includes("infinite")) {
                InfiniteBlock = 1;
            }
        }
        if ((ItemNameHuman.toLowerCase().includes("infinite") || ItemNameHuman.toLowerCase().includes("paint")) &&
            ItemNameHuman !== "✦ Quest - PAINT CYCLER ✦") {
            InfiniteBlock = 1;
        }
        return InfiniteBlock;
    }
    function takeScreenshot() {
        const targetElement = document.getElementById('screenshotMarker');

        html2canvas(targetElement).then(canvas => {
            const imageDataURL = canvas.toDataURL('image/png');

            // Display the captured image
            const img = document.createElement('img');
            img.src = imageDataURL;
            document.body.appendChild(img);

            // Optionally, trigger download
             const link = document.createElement('a');
             link.href = imageDataURL;
             link.download = 'item.png';
             link.click();
             link.remove()
        });
    }

    function UpdatePreview() {
        var rawData = JSON.parse(rawDataTextarea.value);
        var finalItemType = convertItemTypes(rawData['id']);
        var itemName = rawData['components']['minecraft:custom_name'];
        var finalItemNameHTML = convertMCLineToHTML(itemName);
        var finalItemNameHuman = convertMCLineToHumanReadable(itemName)
        let EnchantmentsHTML = [];
        let EnchantmentsHuman = [];
        if ("minecraft:enchantments" in rawData["components"]) {
            const enchantments = rawData["components"]["minecraft:enchantments"]["levels"];
            EnchantmentsHTML = convertEnchantmentsToHTML(enchantments);
            EnchantmentsHuman = convertEnchantmentsToHumanReadable(enchantments);
        } else {
            EnchantmentsHTML = [];
            EnchantmentsHuman = [];
        }
        // Get Item Lore
        let ItemLoreHTML = [];
        let ItemLoreHuman = [];
        for (const loreLine of rawData["components"]["minecraft:lore"]) {
            ItemLoreHTML.push(convertMCLineToHTML(loreLine));
            ItemLoreHuman.push(convertMCLineToHumanReadable(loreLine));
        }
        // Check for Unbreakable
        const Unbreakable = "minecraft:unbreakable" in rawData["components"];



        // Build final HTML
        let finalHTML = `<div>${finalItemNameHTML}</div>`;
        for (const enchant of EnchantmentsHTML) {
            finalHTML += `<div>${enchant}</div>`;
        }
        for (const line of ItemLoreHTML) {
            finalHTML += `<div>${line}</div>`;
        }
        if (Unbreakable) {
            finalHTML += `<div><span class="mc-blue">Unbreakable</span></div>`;
        }
        finalHTML += `<div><span class='mc-dark-gray'>${rawData['id']}</span></div>`;
        if (detectInfiniteBlock(ItemLoreHuman, finalItemNameHuman) == 1) {
            finalItemType = "Infinite";
        };
        // Build Final Human Readable
        let finalHuman = `${finalItemNameHuman} `;
        finalHuman += EnchantmentsHuman.join(" ");
        finalHuman += ItemLoreHuman.join(" ");
        if (Unbreakable) {
            finalHuman += " Unbreakable";
        }
        WinPercentage = extractWinChanceFromLore(ItemLoreHuman)
        RarityHuman = extractRarityFromLore(ItemLoreHuman)
        RarityHTML = extractRarityFromLore(ItemLoreHTML)

        document.getElementById("itemPreview").innerHTML = finalHTML;
        console.log(finalItemType);
        if (finalItemType) {
            document.getElementById('PrimaryTagGroup').value = finalItemType;
        };
        document.getElementById('WinPercentageGroup').value = WinPercentage;
        document.getElementById('RarityGroup').value = RarityHuman;
        document.getElementById('RarityHTMLGroup').value = RarityHTML;
        document.getElementById('ItemNameGroup').value = finalItemNameHuman;
        document.getElementById('ItemNameHTMLGroup').value = finalItemNameHTML;
        document.getElementById('RawData').value = JSON.stringify(rawData);
        document.getElementById('HumanData').value = finalHuman;
        document.getElementById('HTMLData').value = finalHTML;

        //takeScreenshot()
    }




</script>


{% endblock %}