{% extends "core_layout.html" %}
{% block content %}
{% set keysList = currentItems.keys() | list %}
    <div class="row gx-3 gy-3">
        <div class="col-12">
            <div class="text-info">
                <div class="d-flex align-items-start">
                    <div class="nav flex-column nav-pills me-3 bg-dark rounded" id="crate-tab" role="tablist"
                        aria-orientation="vertical">
                        {% for num in range(keysList | length) %}
                        <button class="nav-link {% if num == 0 %}active{% endif %}" id="{{num}}-tab"
                            data-bs-toggle="pill" data-bs-target="#a{{num}}" type="button" role="tab"
                            aria-controls="a{{num}}" aria-selected="true">{{ keysList[num] }} ({{num}})</button>
                        {% endfor %}
                    </div>
                    <div class="tab-content w-100" id="crate-tabContent">
                        {% for num in range(keysList | length) %}
                        <div class="tab-pane fade {% if num == 0 %}show active{% endif %}" id="a{{num}}" role="tabpanel"
                            aria-labelledby="{{num}}-tab">
                            <div class="text-info">
                                <table class="table table-dark table-striped extra-pad-top w-100 rounded">
                                    <thead>
                                        <tr>
                                            <th scope="col">Item Name ({{ currentItems[keysList[num]] | length}})</th>
                                            <th scope="col">Bot Item Name</th>
                                            <th scope="col">Primary Tag</th>
                                            <th scope="col">Secondary Tag</th>
                                            <th scope="col">Tertiary Tag</th>
                                            <th scope="col">Quaternary Tag</th>
                                            <th scope="col">Quinary Tag</th>
                                            <th scope="col">Order</th>
                                            <th scope="col">Delete Item</th>
                                            <th scope="col">Manage Item</th>
                                            <th scope="col">id</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in currentItems[keysList[num]] %}
                                        <tr>
                                            <td scope="col">{{item.ItemNameHTML | safe}}</td>
                                            <td scope="col">{{item.ItemName}}</td>
                                            <td scope="col">{{item.TagPrimary}}</td>
                                            <td scope="col">{{item.TagSecondary}}</td>
                                            <td scope="col">{{item.TagTertiary}}</td>
                                            <td scope="col">{{item.TagQuaternary}}</td>
                                            <td scope="col">{{item.TagQuinary}}</td>
                                            <td scope="col">{{item.ItemOrder}}</td>
                                            <td scope="col"><a href="{{url_for('deleteItem', itemID = item.id)}}">Delete Item</a></td>
                                            <td scope="col"><a href="{{url_for('manageItem', itemID = item.id)}}">Manage Item</a></td>
                                            <td scope="col">{{item.id}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}