{% extends "core_layout.html" %}
{% block content %}
<div class="row gx-3 gy-3 mb-3">
    <div class="col-12">
        <div class="card text-white bg-dark">
            <div class="card-body">
                <h4 class="card-title">{{logType}} logs</h4>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item mc-gold bg-dark">This page is used to look at the log list.
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row gx-3 gy-3">
    <div class="col-12">
        <div class="text-info">
            <div class="d-flex align-items-start">
                <div class="text-info w-100">
                    <table class="table table-dark extra-pad-top w-100 rounded">
                        <thead>
                            <tr>
                                {% if logType == "All" %}
                                <th scope="col">Type</th>
                                {% endif %}
                                <th scope="col">Username (Permissions)</th>
                                <th scope="col">Message</th>
                                <th scope="col">Time</th>
                                <th scope="col">Go to</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for log in logList %}
                            <tr>
                                {% if logType == "All" %}
                                <th scope="col">{{log.Type}}</th>
                                {% endif %}
                                <td scope="col">{{log.Username}} ({{log.PermissionLevel}})</td>
                                <td scope="col">{{log.Message}}</td>
                                <td scope="col">{{log.Time}}</td>
                                {% if log.Type == "Item" and log.RelatedID %}
                                    <td scope="col"><a href='{{url_for('manageItem', itemID=log.RelatedID)}}'>Manage Item</a></td>
                                {% elif log.Type == "Crate" and log.RelatedID %}
                                    <td scope="col"><a href='{{url_for('manageCrates')}}'>Manage Crates</a></td>
                                {% elif log.Type == "Set" and log.RelatedID %}
                                    <td scope="col"><a href='{{url_for('editSet', setID=log.RelatedID)}}'>Manage Set</a></td>
                                {% elif log.Type == "User" and log.RelatedID %}
                                    <td scope="col"><a href='{{url_for('manageUser', userID=log.RelatedID)}}'>Manage User</a></td>
                                {% elif log.Type == "Group" and log.RelatedID %}
                                    <td scope="col"><a href='{{url_for('manageGroups')}}'>Manage Groups</a></td>
                                {% elif log.Type == "Misc Item" and log.RelatedID %}
                                    <td scope="col"><a href='{{url_for('manageMiscItem', itemID=log.RelatedID)}}'>Manage Misc Item</a></td>
                                {% else %}
                                    <td scope="col"></td>
                                {% endif %}

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}