<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-ison" href="{{url_for('static', filename='favicons/favicons.png')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="{{url_for('static', filename='css/index.css')}}" type="text/css" rel="stylesheet">
    {% set path = request.path %}
    {% if path in PrettyRoutes %}
        {% set sub = PrettyRoutes[path] %}
    {% else %}
        {% set sub = path %}
    {% endif %}

    <title>Mystic Items - {{ sub }}</title>
    <meta content="Mystic Items - {{ sub }}" property="og:title" />
    <meta content="An easily searchable database of all Mystic Items!" property="og:description" />
    
    <meta content="https://www.mystic.atn.gg" property="og:url" />
    <meta content="	https://www.mystic.atn.gg/static/images/mysticmc.webp" property="og:image" />
    <meta content="#43B581" data-react-helmet="true" name="theme-color" />
    <meta name="description" content="An easily searchable database of all custom items on the MysticMC Minecraft server."/>
    <style>
    {% set chosenImages = Images | random %}
        body {
            background-image: url("{{ url_for('static', filename='images/backgrounds/' + chosenImages[0] )}}");
            background-size: 64px;
            background-repeat: repeat;
        }
        .results {
            background-image: url("{{ url_for('static', filename='images/backgrounds/' + chosenImages[1] )}}");
            background-size: 64px;
            background-repeat: repeat;
            padding-bottom: 12px;
            border-radius: 12px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-sm bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('index') }}">
                <img src="{{ url_for('static',filename='images/mysticmc.webp') }}" width="32" height="32" alt="MysticMC Logo.">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% for loc, name in [('index', "Home"), ('all', "All Items")] %}
                    {% if request.path == url_for(loc) %}
                    <li class="nav-item"><a class="nav-link active" aria-current="page"
                            href="{{ url_for(loc) }}">{{name}}</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for(loc) }}">{{name}}</a></li>
                    {% endif %}
                    {% endfor %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Item Tags
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            {% for Type, TagsList in Tags.items() %}
                            <a class="dropdown-item disabled" href="#">{{ Type }}</a>
                            <li>
                                <a class="dropdown-item {% if request.path == url_for('tag', cat = Type, tag = 'all') %}active{% endif %}"
                                    href="{{ url_for('tag', cat=Type, tag='all') }}">All</a>
                            </li>
                            {% for tag in TagsList %}
                            <li>
                                <a class="dropdown-item {% if request.path == url_for('tag', cat = Type, tag = tag) %}active{% endif %}"
                                    href="{{ url_for('tag', cat=Type, tag=tag) }}">{{ tag }}</a>
                            </li>
                            {% endfor %}
                            {% if not loop.last %}
                            <div class="dropdown-divider"></div>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class='nav-link dropdown-toggle' href='#' role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Misc. Tags
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            {% for tag in UncategorizedTags %}
                            <li>
                                <a class="dropdown-item {% if request.path == url_for('tag', cat='Misc', tag=tag) %}active{% endif %}"
                                    href="{{ url_for('tag', cat='Misc', tag=tag) }}">{{tag}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class='nav-link dropdown-toggle' href='#' role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Crates
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            {% for crate in Crates %}
                            <li>
                                <a class="dropdown-item {% if request.path == url_for('crate', crateTag=crate.URLTag) %}active{% endif %}"
                                    href="{{ url_for('crate', crateTag=crate.URLTag) }}">{{crate.CrateName}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Misc
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            {% for loc, name in [('itemtracker', "Item Tracker"), ('infinitetracker', "Infinite
                            Tracker"), (false, false), ('stats', "Site Stats"), ('jobspayouts', "Job Pay Calculator"),
                            ('gamble', "Gambling")] %}
                            {% if loc is false %}
                            <div class="dropdown-divider"></div>
                            {% else %}
                            {% if request.path == url_for(loc) %}
                            <li><a class="dropdown-item active" href="{{ url_for(loc) }}">{{name}}</a></li>
                            {% else %}
                            <li><a class="dropdown-item" href="{{ url_for(loc) }}">{{name}}</a></li>
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Admin
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            {% if current_user.is_authenticated %}
                            {% set l = [('manageCrates', "Manage Crates"), ('addItem', "Add Items"), ('itemList', "Item
                            List"), (false, false), ('logout', "Logout")] | list%}
                            {% else %}
                            {% set l = [('login', "Login")] %}
                            {%endif%}
                            {% for loc, name in l %}
                            {% if loc is false %}
                            <div class="dropdown-divider"></div>
                            {% else %}
                            {% if request.path == url_for(loc) %}
                            <li><a class="dropdown-item active" href="{{ url_for(loc) }}">{{name}}</a></li>
                            {% else %}
                            <li><a class="dropdown-item" href="{{ url_for(loc) }}">{{name}}</a></li>
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
                <div class="right-side d-flex justify-content-end">
                    <form class="d-flex" method="post" action="{{ url_for('index')}}">
                        <input class="form-control me-2" name="search" type="search" placeholder="Search"
                            aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>
    <div class="cont mt-3 mb-3">
        {% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="alert alert-{{ category }}">{{ message | safe }}</div>
        {% endfor %}
        {% block content %} {% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script data-goatcounter="https://atn.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
        integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"
        async></script>
</body>

</html>