{% extends "core_layout.html" %}
{% block content %}

<div class="cont text-center results">
    <div class="row" data-masonry='{"percentPosition": true }'>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3 extra-pad-top">
            <div class="give-preview-text-outer">
                <div class="give-preview-text w-100">
                    <div class="give-preview-text-inner">
                        <form method="post" action="{{ url_for('gamble') }}">
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="inputGroupSelect01">Crate</label>
                                <select name='crate' class="form-select" id="inputGroupSelect01">
                                    <option id='crate' value="all">All</option>
                                    {% for crateName, tag in validCrates.items() %}
                                    {% if crate == tag %}
                                    <option value="{{ tag }}" selected>{{crateName}}</option>
                                    {% else %}
                                    <option value="{{ tag }}">{{crateName}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Amount</span>
                                <input type="text" class="form-control" name="amount" aria-label="Amount to Gamble"
                                    aria-describedby="inputGroup-sizing-default" value="{{amount}}">
                            </div>
                            <button class="btn btn-primary mb-1" type="submit">Roll!</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% for crate, items in stats.items() %}
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3 extra-pad-top">
            <div class="give-preview-text-outer">
                <div class="give-preview-text w-100">
                    <div class="give-preview-text-inner text-start">
                        <div class="mc-bold mc-italic mc-gold">{{ crate }}</div>
                        {% for item in items %}
                            <div class="mc-dark-green">{{ items[item] }} {{ item | safe }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
    <div class="row" data-masonry='{"percentPosition": true }'>
        {% for item in mysticItems %}
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3 extra-pad-top">
            <div class="give-preview-text-outer">
                <div class="give-preview-text w-100">
                    <div class="give-preview-text-inner text-start">
                        {{ item.itemHTML | safe }}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>



{% endblock %}