{% extends "core_layout.html" %}
{% block content %}

<div class="container text-center results">

    {% if mysticItems is not none %}
    <div class="row">
        {% for item in mysticItems %}
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 extra-pad-top">
            <div class="give-preview-text-outer">
                <div class="give-preview-text">
                    <div class="give-preview-text-inner text-start">
                        {{ item.itemHTML | safe }}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% else %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 extra-pad-top">
            <div class="give-preview-text-outer">
                <div class="give-preview-text">
                    <div class="give-preview-text-inner text-start">
                        <h1 class="mc-dark-aqua">Instructions!</h1>
                        <ul>
                            <li class="mc-gold">Use the navbar at the top of the page to look for your desired items!
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 extra-pad-top">
            <div class="give-preview-text-outer">
                <div class="give-preview-text">
                    <div class="give-preview-text-inner text-start">
                        <h1 class="mc-dark-aqua">Contact!</h1>
                        <ul>
                            <li class="mc-gold">Reach me on discord by messaging AlexTheNerd
                            </li>
                            <li class="mc-gold">You can also join my Discord Server <a target="_blank"
                                    rel="noopener noreferrer" href="https://discord.gg/HAaUm7AnS5">Here</a>!</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 extra-pad-top">
            <div class="give-preview-text-outer">
                <div class="give-preview-text">
                    <div class="give-preview-text-inner text-start">
                        <h1 class="mc-dark-aqua">3/2/2025</h1>
                        <ul>
                            <li class="mc-gold">Reworked Navbar to bring me more joy.</li>
                            <li class="mc-gold">Added Infinite specific item tracker.</li>
                            <li class="mc-gold">Reworked database and created a database builder to make it easier to modify items.</li>
                            <li class="mc-gold">Added notes for some items, just hover to see if there is anything!</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 extra-pad-top">
            <div class="give-preview-text-outer">
                <div class="give-preview-text">
                    <div class="give-preview-text-inner text-start">
                        <h1 class="mc-dark-aqua">2/22/2025</h1>
                        <ul>
                            <li class="mc-gold">Moved the page showing all items to a secondary page, in an effort to
                                help people with less than stellar internet connections still use the site. Thank you
                                KaylaKrow for the suggestion!</li>
                            <li class="mc-gold">Moved changelog to the main page.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 extra-pad-top">
            <div class="give-preview-text-outer">
                <div class="give-preview-text">
                    <div class="give-preview-text-inner text-start">
                        <h1 class="mc-dark-aqua">2/21/2025</h1>
                        <ul>
                            <li class="mc-gold">Added Item Tracker! Thank you SaltyAssassin for the suggestion!</li>
                            <li class="mc-gold">Added Missing item (Mystic Boots)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 extra-pad-top">
            <div class="give-preview-text-outer">
                <div class="give-preview-text">
                    <div class="give-preview-text-inner text-start">
                        <h1 class="mc-dark-aqua">2/19/2025</h1>
                        <ul>
                            <li class="mc-gold">Added missing Olympus Quests.</li>
                            <li class="mc-gold">Corrected spelling mistake on Stats page.</li>
                            <li class="mc-gold">Setup auto deployment from dev environment.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>




{% endblock %}