{% extends "core_layout.html" %}
{% block content %}

<div class="cont text-center results">

    {% if mysticItems is not none %}
    <div class="row">
        {% for item in mysticItems %}
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3 extra-pad-top">
            <div class="give-preview-text-outer">
                <div class="give-preview-text w-100">
                    <div class="give-preview-text-inner text-start">
                        {{ item.itemHTML | safe }}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% else %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3 extra-pad-top">
            <div class="give-preview-text-outer">
                <div class="give-preview-text w-100">
                    <div class="give-preview-text-inner text-start">
                        <h1 class="mc-dark-aqua">Instructions!</h1>
                        <ul>
                            <li class="mc-gold">Use the navbar at the top of the page to look for your desired items!
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3 extra-pad-top">
            <div class="give-preview-text-outer">
                <div class="give-preview-text w-100">
                    <div class="give-preview-text-inner text-start">
                        <h1 class="mc-dark-aqua">Contact!</h1>
                        <ul>
                            <li class="mc-gold">Reach me on discord by messaging AlexTheNerd
                            </li>
                            <li class="mc-gold">You can also join my Discord Server <a target="_blank"
                                    rel="noopener noreferrer" href="https://discord.gg/HAaUm7AnS5">Here</a>!</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3 extra-pad-top">
            <div class="give-preview-text-outer">
                <div class="give-preview-text w-100">
                    <div class="give-preview-text-inner text-start">
                        <h1 class="mc-dark-aqua">6/11/2025</h1>
                        <ul>
                            <li class="mc-gold">Added the new <a href="{{ url_for('crate', crateName='Astral') }}">Season 8: Astral</a> crate!</li>
                            <li class="mc-gold">Corrected Bunny Helmet not showing up under <a href="{{ url_for('armor', type='Helmet') }}">Helmets</a>.</li>
                            <li class="mc-gold">Adjusted CSS (stupid fucking bootstrap) to be a bit more consistent and readable across the site.</li>
                            <li class="mc-gold">Made it so crate summaries for <a href="{{ url_for('gamble') }}">Gambling</a> show the colored item names.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3 extra-pad-top">
            <div class="give-preview-text-outer">
                <div class="give-preview-text w-100">
                    <div class="give-preview-text-inner text-start">
                        <h1 class="mc-dark-aqua">6/5/2025</h1>
                        <ul>
                            <li class="mc-gold"><a href="{{ url_for('gamble') }}">Gambling</a> is now weighted as it is in-game!</li>
                            <li class="mc-gold">Clean up the Gambling Menu</li>
                            <li class="mc-gold">Added overviews to the gambling menu, so you can see what you got at a glance instead of looking through individually.</li>
                            <li class="mc-gold">Added a limit to how many rolls you could do at once. (turns out things get a bit wild when you try and roll 1,000,000 items :p)</li>
                            <li class="mc-gold">Corrected a bug where the changelog would break if you didn't also search for an item.</li>
                            <li class="mc-gold">Pickaxes that appear in multiple crates now appear on their crate pages, they can also be pulled during gambling.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3 extra-pad-top">
            <div class="give-preview-text-outer">
                <div class="give-preview-text w-100">
                    <div class="give-preview-text-inner text-start">
                        <h1 class="mc-dark-aqua">6/3/2025</h1>
                        <ul>
                            <li class="mc-gold">Added <a href="{{ url_for('gamble') }}">Gambling</a>! Thank you
                                BR_MarkoTheGamer for the suggestion!</li>
                            <li class="mc-gold">Removed some redundant HTML tags (why were there 47 extra &lt;/li&gt;
                                tags in the navbar??)</li>
                            <li class="mc-gold">Added a Page View Tracker (again)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3 extra-pad-top">
            <div class="give-preview-text-outer">
                <div class="give-preview-text w-100">
                    <div class="give-preview-text-inner text-start">
                        <h1 class="mc-dark-aqua">5/11/2025</h1>
                        <ul>
                            <li class="mc-gold">Added the new <a
                                    href="{{ url_for('crate', crateName='Bloomfall') }}">Bloomfall Crate</a>!</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3 extra-pad-top">
            <div class="give-preview-text-outer">
                <div class="give-preview-text w-100">
                    <div class="give-preview-text-inner text-start">
                        <h1 class="mc-dark-aqua">3/30/2025</h1>
                        <ul>
                            <li class="mc-gold">Added a <a href="{{ url_for('jobspayouts') }}">Jobs Payout
                                    Calculator</a>!</li>
                            <li class="mc-gold">Added the new <a
                                    href="{{ url_for('crate', crateName='Trickster') }}">Trickster Crate</a>!</li>
                            <li class="mc-gold">Updated the Eternal Icesight to the new version!</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3 extra-pad-top">
            <div class="give-preview-text-outer">
                <div class="give-preview-text w-100">
                    <div class="give-preview-text-inner text-start">
                        <h1 class="mc-dark-aqua">3/16/2025</h1>
                        <ul>
                            <li class="mc-gold">Corrected a database error leading to no swords being listed under <a
                                    href="{{ url_for('weapon', type='Sword') }}">Swords</a>, thank you LostWoodsOne for
                                bringing this to my attention!</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3 extra-pad-top">
            <div class="give-preview-text-outer">
                <div class="give-preview-text w-100">
                    <div class="give-preview-text-inner text-start">
                        <h1 class="mc-dark-aqua">3/9/2025</h1>
                        <ul>
                            <li class="mc-gold">Item/Infinite trackers now persistently store your items! Thank you
                                Katie for the suggestion!</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3 extra-pad-top">
            <div class="give-preview-text-outer">
                <div class="give-preview-text w-100">
                    <div class="give-preview-text-inner text-start">
                        <h1 class="mc-dark-aqua">3/8/2025</h1>
                        <ul>
                            <li class="mc-gold">Cosmic/Arcane Picks Win Chance 0.1%->0.06%</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3 extra-pad-top">
            <div class="give-preview-text-outer">
                <div class="give-preview-text w-100">
                    <div class="give-preview-text-inner text-start">
                        <h1 class="mc-dark-aqua">3/2/2025</h1>
                        <ul>
                            <li class="mc-gold">Reworked Navbar to bring me more joy.</li>
                            <li class="mc-gold">Added Infinite specific item tracker.</li>
                            <li class="mc-gold">Reworked database and created a database builder to make it easier to
                                modify items.</li>
                            <li class="mc-gold">Added Elysium Pickaxe</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3 extra-pad-top">
            <div class="give-preview-text-outer">
                <div class="give-preview-text w-100">
                    <div class="give-preview-text-inner text-start">
                        <h1 class="mc-dark-aqua">2/22/2025</h1>
                        <ul>
                            <li class="mc-gold">Moved the page showing all items to a secondary page, in an effort to
                                help people with less than stellar internet connections still use the site. Thank you
                                KaylaKrow for the suggestion!</li>
                            <li class="mc-gold">Moved changelog to the main page.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3 extra-pad-top">
            <div class="give-preview-text-outer">
                <div class="give-preview-text w-100">
                    <div class="give-preview-text-inner text-start">
                        <h1 class="mc-dark-aqua">2/21/2025</h1>
                        <ul>
                            <li class="mc-gold">Added Item Tracker! Thank you SaltyAssassin for the suggestion!</li>
                            <li class="mc-gold">Added Missing item (Mystic Boots)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3 extra-pad-top">
            <div class="give-preview-text-outer">
                <div class="give-preview-text w-100">
                    <div class="give-preview-text-inner text-start">
                        <h1 class="mc-dark-aqua">2/19/2025</h1>
                        <ul>
                            <li class="mc-gold">Added missing Olympus Quests.</li>
                            <li class="mc-gold">Corrected spelling mistake on Stats page.</li>
                            <li class="mc-gold">Setup auto deployment from dev environment.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}