{% extends "core_layout.html" %}
{% block content %}

<div class="container text-center results">
    <div class="row">
        {% for item in mysticItems %}
        
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 extra-pad-top">
            <div class="give-preview-text-outer">
                <div class="give-preview-text">
                    <div class="give-preview-text-inner text-start">
                        {{ item.itemHTML | safe }}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        


    </div>
</div>



{% endblock %}
