<div class="row">
    <!--<div class="row" data-masonry='{"percentPosition": true }'>-->
    {% for item in Items %}
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3 extra-pad-top">
        <a style="display: block;" href="{{url_for('item', itemID=item.id)}}">
            <div class="give-preview-text-outer marker" id="{{ item.id }}">
                <div class="give-preview-text w-100">
                    <div class="give-preview-text-inner text-start">
                        {{ item.ItemHTML | safe }}
                    </div>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>