{% extends "core_layout.html" %}
{% block content %}
<div class="cont text-center results">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="mb-3">
                    <textarea class="form-control" id="importCode" value="" rows="5"></textarea>
                </div>
                <div class="col-6">
                    <button class="btn btn-danger" onclick="importCode()">
                        Import from text
                    </button>
                </div>
                <div class="col-6">
                    <button class="btn btn-danger" onclick="copyToClipBoard()">
                        Copy To Clipboard
                    </button>
                </div>
            </div>
        </div>

    </div>
    <div class="row" data-masonry='{"percentPosition": true }'>
        {% for crate, items in sortedItems.items() %}

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3 extra-pad-top">
            <div class="give-preview-text-outer">
                <div class="give-preview-text w-100">
                    <div class="give-preview-text-inner text-start">
                        <span class="mc-white">{{ crate }}</span>
                        <div><br></div>
                        {% for item in items %}
                        <div>
                            <input type="checkbox" name="item" onclick="exportCode()">
                            <label>
                                <span class="mc-gold">{{ item.itemName | safe }}</span>
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}



    </div>
</div>
<script>
    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }
    function loadFromCookie() {
        console.log("I exist.");
        let oldResults = getCookie("{{ page }}");
        if (oldResults == "") {
            console.log("No old results found.")
        } else {
            document.getElementById("importCode").value = oldResults;
            console.log(oldResults);
            importCode();
        }
    }
    window.onload = function() {
        loadFromCookie();
    }




    function exportCode() {
        let checkboxes =
            document.getElementsByName('item');
        let result = "";
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                result += 1;
            } else {
                result += 0
            }
        }
        document.cookie = `{{ page }}=${result};expires=Wed, 18 Dec 2026 12:00:00 GMT;`;
        document.getElementById("importCode").value = result;
        console.log(result)
    }
    function importCode() {
        let currentValues = document.getElementById("importCode").value;
        let checkboxes =
            document.getElementsByName('item');
        let result = "";
        for (var i = 0; i < checkboxes.length; i++) {
            // If used to be checked
            if (currentValues[i] == 1) {
                checkboxes[i].checked = true;
            } else {
                checkboxes[i].checked = false;
            }

        }
        console.log(currentValues)

    }
    function copyToClipBoard() {
        var copyText = document.getElementById("importCode");
        copyText.select();
        copyText.setSelectionRange(0, 99999);
        navigator.clipboard.writeText(copyText.value);
        alert("Copied import code to clipboard.")
    }



    //exportCode();

</script>

{% endblock %}