name: Deploy Item Sites
on: [push]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Reload Mystic Site
      uses: jensvog/pythonanywhere-webapp-reload-action@v1
      with:
        host: 'www.pythonanywhere.com'
        username: ${{ secrets.USERNAME }}
        api-token: ${{ secrets.API_TOKEN }}
        domain-name: ${{ secrets.DOMAIN_NAME }}
    - name: Reload Blossom Site
      uses: jensvog/pythonanywhere-webapp-reload-action@v1
      with:
        host: 'www.pythonanywhere.com'
        username: ${{ secrets.USERNAME }}
        api-token: ${{ secrets.API_TOKEN }}
        domain-name: ${{ secrets.DOMAIN_NAME_2 }}
    - name: Reload Cryo Site
      uses: jensvog/pythonanywhere-webapp-reload-action@v1
      with:
        host: 'www.pythonanywhere.com'
        username: ${{ secrets.USERNAME }}
        api-token: ${{ secrets.API_TOKEN }}
        domain-name: ${{ secrets.DOMAIN_NAME_3 }}